.square {
    min-width: 150px;
    display: flex;
    padding: 20px;
    background-color: #313334;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 30px;
    font-size: 50px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    &:hover {
        box-shadow: inset 5px 5px 5px rgb(255 255 255 / 11%),
        inset -5px -5px 15px rgb(255 255 255 / 19%), 5px 5px 15px rgb(255 255 255 / 30%),
        -5px -5px 15px rgb(255 255 255 / 10%);
    }
    &__button {
        min-width: 20px;
        color: white;
        background-color: inherit;
        border-style: none;
        font-size: 30px;
        cursor: pointer;
        user-select: none;
    }
    &__counter {
        max-width: 100px;
        background-color: inherit;
        border: none;
        text-align: center;
        color: white;
        font-size: 30px;
    }
}